.home-container{
    height:100vh;
    width: 100%;
     /* background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)100%),
    url('../assets/pexels-willpicturethis-1954524.jpg'); 
    background-size: cover;
  background-position: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position:relative;
  overflow: hidden;
} 
.home-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7)),
              url('../assets/three.jpg');
  background-size: cover;
  background-position: center;
  
  /* Applying blur only to this layer */
  filter: blur(1px); 
  
  /* Zooming slightly hides the white edges caused by blur */
  transform: scale(1.1); 
  z-index: -1; 
}
 .hero-content{
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: white;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgba(0,0,0,0.3);
}
.hero-content h1 {
    background: linear-gradient(to right, #ffffff, #FFCC00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    color: #FFCC00; 
  text-shadow: 0 10px 20px rgba(0,0,0,0.6);
  margin-bottom: 5px;
  font-weight: 900;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 15px;
  filter: drop-shadow(0 10px 15px rgba(0,0,0,0.6));
  }
.white-text {
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0 4px 10px rgba(0,0,0,1);
}